<!-- Header -->
<div class="page-header">
    <h1>Edit User</h1>
</div>
<br>
<ul class="nav nav-tabs">
    <li role="presentation" ng-class="nameTab" ng-click="edit.namePhase();"><a href="#">Name</a></li>
    <li role="presentation" ng-class="usernameTab" ng-click="edit.usernamePhase();"><a href="#">Username</a></li>
    <li role="presentation" ng-class="emailTab" ng-click="edit.emailPhase();"><a href="#">E-mail</a></li>
    <li role="presentation" ng-class="permissionTab" ng-click="edit.permissionPhase();"><a href="#">Permission</a></li>    
</ul>

<!-- Phase One: Name -->
<form name="edit.nameForm" ng-show="edit.phase1" ng-submit="edit.updateName(newName, edit.nameForm.name.$valid);" novalidate>
    <div ng-class="{ 'has-success':(edit.nameForm.name.$valid && !edit.nameForm.name.$pristine), 'has-error': (!edit.nameForm.name.$valid && !edit.nameForm.name.$pristine) || (!edit.nameForm.name.$valid && edit.nameForm.$submitted)}">
        <!-- Name -->
        <label for="name">Name :</label>
        <input ng-disabled="edit.disabled" class="form-control" type="text" name="name" placeholder="please enter Name" ng-model="newName" ng-pattern="/^(([a-zA-Z]{3,20})+[ ]+([a-zA-Z]{3,20})+)+$/"
          ng-minlength="3" ng-maxlength="20" required>
        <p class="help-block" ng-show="(!edit.nameForm.name.$pristine && edit.nameForm.name.$error.required) || (edit.nameForm.$submitted && edit.nameForm.name.$error.required)">This field is required</p>
        <ul ng-show="(!edit.nameForm.name.$pristine && edit.nameForm.name.$error.pattern) || (!edit.nameForm.name.$pristine && edit.nameForm.name.$error.minlength) || (!edit.nameForm.name.$pristine && edit.nameForm.name.$error.maxlength)"
          class="help-block">
            <li>Must have a space in between first and last name</li>
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 3 characters but no more than 20</li>
        </ul>
    </div>

    <br>
    <button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>
</form>

<!-- Phase One: Username -->
<form name="edit.usernameForm" ng-show="edit.phase2" ng-submit="edit.updateUsername(newUsername, edit.usernameForm.username.$valid);" novalidate>
    <div ng-class="{ 'has-success':(edit.usernameForm.username.$valid && !edit.usernameForm.username.$pristine), 'has-error': (!edit.usernameForm.username.$valid && !edit.usernameForm.username.$pristine) || (!edit.usernameForm.username.$valid && edit.usernameForm.$submitted)}">
        <!-- Username -->
        <label for="username">Username :</label>
        <input ng-disabled="edit.disabled" class="form-control" type="text" name="username" placeholder="please enter Username" ng-model="newUsername" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-minlength="3" ng-maxlength="25" required>
        <p class="help-block" ng-show="(!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.required) || (edit.usernameForm.$submitted && edit.usernameForm.username.$error.required)">This field is required</p>
        <span ng-show="edit.checkingUsername" class="glyphicon glyphycon-repeat"></span>
        <p class="help-block"
            ng-show="edit.usernameMsg && !edit.usernameForm.username.$error.required && edit.usernameForm.username.$valid">{{edit.usernameMsg}}</p>
        <ul ng-show="(!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.pattern) || (!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.minlength) || (!edit.usernameForm.username.$pristine && edit.usernameForm.username.$error.maxlength)"
            class="help-block">
            <li>Must not contain any special characters or spaces</li>
            <li>Must be at least 3 characters but no more than 25</li>
        </ul>
    </div>

    <br>
    <button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>
</form>
<!-- Phase One: E-mail -->
<form name="edit.emailForm" ng-show="edit.phase3" ng-submit="edit.updateEmail(newEmail, edit.emailForm.email.$valid);" novalidate>
    <div ng-class="{ 'has-success':(edit.emailForm.email.$valid && !edit.emailForm.email.$pristine), 'has-error': (!edit.emailForm.email.$valid && !edit.emailForm.email.$pristine) || (!edit.emailForm.email.$valid && edit.emailForm.$submitted)}">
        <!-- Email -->
        <label for="email">Email :</label>
        <input ng-disabled="edit.disabled" class="form-control" type="text" name="email" placeholder="please enter Email"
          ng-model="newEmail" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-minlength="3"
          ng-maxlength="25" required>
        <p class="help-block" ng-show="(!edit.emailForm.email.$pristine && edit.emailForm.email.$error.required) || (edit.emailForm.$submitted && edit.emailForm.email.$error.required)">This field is required</p>
        <p class="help-block" ng-show="edit.emailMsg && !edit.emailForm.email.$error.required && edit.emailForm.email.$valid">{{edit.emailMsg}}</p>
        <ul ng-show="(!edit.emailForm.email.$pristine && edit.emailForm.email.$error.pattern) || (!edit.emailForm.email.$pristine && edit.emailForm.email.$error.minlength) || (!edit.emailForm.email.$pristine && edit.emailForm.email.$error.maxlength)" class="help-block">
            <li>Must contain "@"</li>
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 25</li>
        </ul>
    </div>
    <br>
    <button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>
</form>
<!-- Phase One: Permission -->
<div ng-show="edit.phase4">
    <label>Current Permission:&nbsp&nbsp</label>
    {{newPermission}}
    <br>
    <br>
    <button ng-click="edit.updatePermissions('user');" ng-disabled="edit.disabledUser" type="button" class="btn btn-success">User</button>
    <button ng-click="edit.updatePermissions('moderator');" ng-disabled="edit.disabledModerator" type="button" class="btn btn-info">Moderator</button>
    <button ng-click="edit.updatePermissions('admin');" ng-disabled="edit.disabledAdmin" type="button" class="btn btn-warning">Admin</button>    
</div>

<br>
<div class="row show-hide-message" ng-show="edit.successMsg">
    <div class="alert alert-success">{{edit.successMsg}}</div>
</div>
<br>
<div class="row show-hide-message" ng-show="edit.errorMsg">
    <div class="alert alert-danger">{{edit.errorMsg}}</div>
</div>